<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Changing Global Diet</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/sumoselect/sumoselect.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>

<body ng-app="globalDietApp" ng-controller="FlowingdataCtrl">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!--
				<a class="navbar-brand" href="#">Increasing homogeneity in global food supplies </a>
				-->
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{selectedSource.title}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-repeat="item in sources" ng-click="changeSource(this);"><a>{{item.title}}</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{selectedMeasure.title}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-repeat="item in measures" ng-click="changeMeasure(this);"><a>{{item.title}}</a></li>
						</ul>
					</li>
				</ul>
				<form class="nav navbar-nav navbar-form">
					<select id="countries" multiple="multiple" class="form-control">
					</select>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a>Year:</a></li>
					<li><a id="yearvalue">1961</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speed<span class="caret"></span></a>
						<ul class="dropdown-menu" id="speedcontrol">
							<li><a class="button" data-speed="pause"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span>Pause</a></li>
							<li><a class="button" data-speed="3000">Slow</a></li>
							<li><a class="button current" data-speed="750">Medium</a></li>
							<li><a class="button" data-speed="300">Fast</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<div class="clear"></div>
		<div id="charts_header"></div>
		<div class="clear"></div>
		<div id="charts"></div>
	</div>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/d3.slider/d3.slider.js"></script>
	<script src="bower_components/sumoselect/jquery.sumoselect.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/services/globaldietfactory.js"></script>
	<script src="scripts/controllers/flowingdata.js"></script>
	<script src="scripts/libs/d3.flowingdata.js"></script>
	<!-- endbuild -->


</body>

</html>