html, body
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Arial';
}

#yearvalue{
  font-size:57px;
}


.clear{
  width: 100%; 
  height: 40px;  
  display: block; 
}

#charts {  
  width: 100%;
  display: block;
  position: relative;
}

#charts_header {
  width: 100%;
  display: block;
  position: relative;
  padding-top: 10px; 
}

.button {
  padding: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.button:hover {
  background: #e0e0e0;
}

.button.current {
  background: #000;
  color: #fff;
}

svg {
  position: absolute;
  display: block;
}

.chartbg {
  fill: #f0f0f0;
}

text.descrip tspan {
  font-size: 1em;
}

.axis {
  font-size: 12px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.baseline line {
  stroke: #000;
  stroke-width: 2px;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.area {
  fill: steelblue;
}

.meat .area {
  fill: #ec3a64;
}

.veg .area {
  fill: #8DC63F;
}

.fruit .area {
  fill: #ff0f9d;
}

.grain .area {
  fill: #F68D3D;
}

.dairy .area {
  fill: #009EFF;
}

.fat .area {
  fill: #FFCD31;
}

.overlay {
  fill: none;
  pointer-events: all;
  z-index: 1;
}

.desc {
  font-family: "Mercury SSm A", "Mercury SSm B";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
}

.focus text {
  font-size: 11px;
}

line.annotation {
  stroke: #ccc;
  stroke-dasharray: 5, 2;
  stroke-width: 1.2px;
}

text.annotation, #line-chart .agehighlight text {
  font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";
  font-size: 14px;
  fill: #444;
  text-anchor: end;
}

text.descrip {
  font-family: "Mercury SSm A", "Mercury SSm B";
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4em;
}
