<article class="project" id="lana-papiers" data-bg="#00192B" data-pattern="#022137" data-main="#ED5045" data-secondary="#ED5045"
      data-sitetitle="#FFFFFF" data-btncontact="#FFFFFF" data-logo="#00192B">
      <div class="project-overlay">
        <div class="left">
        </div>
      </div>
      <div class="project-mask">
        <div class="left">
        </div>
      </div>
      <div class="project-content">
        <div class="right">
          <div class="table">
            <div class="cell">
              <h3 class="project-surtitle" style="color: #FFFFFF">Derniers projets</h3>
              <h2 class="project-title" style="color: #FFFFFF">Lana papiers</h2>
              <div class="project-text" style="color: #FFFFFF">
                Refonte du site Web de l'historique papeterie Lana Papiers Speciaux en collaboration avec Horstaxe studio / Design graphique.</div>
              <a href="http://www.lanapapier.fr/fr/" title="Lana papiers" target="_blank" class="btn" style="color: #FFFFFF">
                Voir le site
                <span class="btn-bg"></span>
                <span class="btn-bg btn-bg-mask" style="background: #00192B"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>